

  <% @likes.each do |photo| %>


<div class="panel panel-default">
  <div class="panel-heading" >
    <h3  class="panel-title"><%= photo.user.username %> <%= @time.yday - photo.created_at.yday  %> days ago</h3>
  </div>
  <div class="panel-body">
   <tr> <img src="<%= photo.image %>" class="img-responsive"></tr>

<tr>


      <% usernames = [] %>
      <% photo.likes.each do |like| %>
      <% usernames.push(like.user.username) %>
      <% end %>
       <td><a><i class="fa fa-heart" color =blue></i></a>
       <%= usernames.to_sentence %> like this</td>
     </tr>

      <% photo.comments.each do |commented| %>


      <td><ul class="media-list"><a><%= commented.user.username %></a>  <c><%= @time.yday - commented.created_at.yday  %> days ago</c><br />

        <%= commented.body%>


      </ul></tr>

      <% end %>


  </div>
</div>
<% end %>





