<div class="Active">
  <h1>
    <%= current_user.username %>
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-default table-hover">

      <% @images.each do |photo| %>


      <tr>
      <td >
       <img src="<%= photo.image %>" class="img-responsive">
     </td>
     </tr>
      <tr>


      <% usernames = [] %>
      <% photo.likes.each do |like| %>
      <% usernames.push(like.user.username) %>
      <% end %>
       <td><a><i class="fa fa-heart" color =blue></i></a>
       <%= usernames.to_sentence %> like this</td>
     </tr>
     <tr>

      <% photo.comments.each do |commented| %>


      <td><ul class="media-list"><a><%= commented.user.username %></a>  <c><%= @time.yday - commented.created_at.yday  %> days ago</c><br />

        <%= commented.body%>


      </ul></tr>

      <% end %>
        <% end %>
    </table>
  </div>
</div>
