  <div class="row">
    <div class="container-fluid">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">

      <% @photos.each do |photo| %>
      <div class="panel panel-default">
        <div class="panel-heading" >
          <h3  class="panel-title"><%= photo.user.username %> <%=time_ago_in_words(photo.created_at)%> ago</h3>
        </div>
        <div class="panel-body">
         <tr><a href="/photos/<%= photo.id %>" class="btn btn-link btn-block"><img src="<%= photo.image %>" class="img-responsive"></a></tr>

         <tr>


          <% usernames = [] %>

          <% photo.likes.each do |like| %>
          <% usernames.push(like.user.username.capitalize) %>
          <% @countofuser = usernames.count(current_user.username.capitalize)%>

          <%if @countofuser == 1%>
          <% @likedid = @likes.find_by(user_id:current_user.id, photo_id:photo.id).id %>
          <%elsif @countofuser == 0%>
          <% @likedid = nil %>
          <%end%>
          <%end%>


          <td>

            <%if @countofuser == 0%>


            <form action="/create_like" method="post"><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"><input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>"><input type="hidden" id="photo_id" name="photo_id" class="form-control" value="<%= photo.id %>"><button class="btn btn-link"><a><i class="fa fa-heart" ></i></a></button> <%= usernames.to_sentence %> <% if usernames.count > 1 %>  like this  <% elsif usernames.count == 0 %>   Be the first to like this <% elsif usernames.count == 1 %> likes this <%end%></form>

            <%elsif @countofuser == 1%>


            <form action="/delete_like/<%= @likedid %>" method="get"><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"><input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>"><input type="hidden" id="photo_id" name="photo_id" class="form-control" value="<%= photo.id %>"><button class="btn btn-link"><a><i class="fa fa-heart" ></i></a></button> <%= usernames.to_sentence %> <% if usernames.count > 1 %>  like this  <% elsif usernames.count == 0 %>   Be the first to like this <% elsif usernames.count == 1 %> likes this <%end%></form>





            <%end%>

          </td>


        </tr>

        <% photo.comments.each do |commented| %>


        <td><ul class="media-list"><a><%= commented.user.username %></a>  <c><%= @time.yday - commented.created_at.yday  %> days ago</c><br />

          <%= commented.body%>


        </ul></tr>

        <% end %>

        <!-- quick add comment -->
        <form action="/create_comment" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for photo_id -->
          <input type="hidden" id="photo_id" name="photo_id" class="form-control" value="<%= photo.id %>">

          <!-- Label and input for body -->

          <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" rows="1"></input   >

          <!-- Label and input for user_id -->

          <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

        </form>


      </div>
    </div>
    <% end %>
