  <div class="row">
    <div class="container-fluid">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">

      <% @photos.each do |photo| %>
      <div class="panel panel-default">
        <div class="panel-heading" >
          <h3  class="panel-title"><%= photo.user.username %> <%= @time.yday - photo.created_at.yday  %> days ago</h3>
        </div>
        <div class="panel-body">
         <tr> <img src="<%= photo.image %>" class="img-responsive"></tr>

         <tr>


          <% usernames = [] %>
          <% photo.likes.each do |like| %>
          <% usernames.push(like.user.username) %>
          <% end %>
          <% if usernames.count != 0 %><td><a><i class="fa fa-heart" ></i></a>
          <%= usernames.to_sentence %> like this</td>
          <% elsif usernames.count == 0 %> <td><a><i class="fa fa-heart-o" ></i></a>
          Be the first to like this</td>
          <%end%>
        </tr>

        <% photo.comments.each do |commented| %>


        <td><ul class="media-list"><a><%= commented.user.username %></a>  <c><%= @time.yday - commented.created_at.yday  %> days ago</c><br />

          <%= commented.body%>


        </ul></tr>

        <% end %>







      </div>
    </div>
    <% end %>
